* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

.header__anchor:hover {
  text-decoration: none;
  color: #ff0b51; }

.footer__anchor:hover {
  text-decoration: none;
  color: #ff0b51; }

.btn {
  text-decoration: none;
  background: linear-gradient(153deg, #ff0088 0%, #ff683c 100%);
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border: solid 0.1px rgba(255, 255, 255, 0);
  border-radius: 0.8rem;
  color: white;
  font-family: 'bebas neue', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 0.5rem;
  text-align: center; }
  .btn:hover {
    color: #ff0b51;
    background: white; }

.header {
  background-color: #181818;
  -webkit-box-shadow: -6.5px 5.5px 7.5px 3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -6.5px 5.5px 7.5px 3px rgba(0, 0, 0, 0.65);
  box-shadow: -6.5px 5.5px 7.5px 3px rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative; }
  .header__logo {
    max-width: 280px; }
  .header__list {
    display: flex;
    text-decoration: none;
    list-style: none; }
  .header__item {
    padding: 1.2rem;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    font-style: italic; }
  .header__anchor {
    color: white; }

.footer {
  background-color: #181818;
  height: auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 2fr 5px 1fr;
  grid-template-areas: "footer__nav footer__logo footer__contacto" "footer__linea footer__linea footer__linea" "footer__redes footer__redes footer__redes";
  align-items: center;
  justify-items: center; }
  .footer__nav {
    grid-area: footer__nav; }
  .footer__logo {
    height: 120px;
    grid-area: footer__logo; }
  .footer__list {
    list-style: none; }
  .footer__item {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0.5rem; }
  .footer__anchor {
    color: white; }
  .footer__contacto {
    grid-area: footer__contacto; }
  .footer__contacto--item {
    text-decoration: none;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0.5rem;
    padding-left: 1rem; }
  .footer__linea {
    border: 0.5px solid;
    color: white;
    width: 75%;
    grid-area: footer__linea; }
  .footer__redes {
    grid-area: footer__redes; }
  .footer__redes--item {
    text-decoration: none;
    display: inline-block;
    margin: 1.5rem; }
  .footer__contacto ul li:nth-child(1) {
    list-style-image: url(../img/iconos/icono_telefono--footer.png); }
  .footer__contacto ul li:nth-child(2) {
    list-style-image: url(../img/iconos/icono_whatsapp--footer.png); }
  .footer__contacto ul li:nth-child(3) {
    list-style-image: url(../img/iconos/icono_email--footer.png); }
  .footer__contacto ul li:nth-child(4) {
    list-style-image: url(../img/iconos/icono_ubicacion--footer.png); }

.hero {
  background-image: url(../img/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: black;
  font-size: 1.5rem;
  text-align: left;
  height: 87vh;
  display: flex;
  text-align: left;
  align-items: center; }
  .hero__container {
    padding-left: 3rem; }
  .hero__heading {
    font-size: 4.5rem;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .hero__slogan {
    font-size: 1.5rem;
    color: white;
    font-family: 'poppins', sans-serif;
    margin-top: 1rem; }

.info {
  background-image: url(../img/background_2.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .info__titulo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em; }

.productos {
  height: auto;
  background-image: url(/img/background_3.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover; }
  .productos__wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex; }
  .productos__titulo {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .productos__container {
    margin: 1rem;
    width: 320px;
    height: 420px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
    box-shadow: 7.5px 13px 19px 4.5px rgba(0, 0, 0, 0.75); }
  .productos__img {
    height: 100px;
    filter: drop-shadow(3px 13px 10px #000000); }
  .productos__container .productos__card {
    position: relative;
    width: 320px;
    height: 420px;
    background: rgba(25, 25, 25, 0.052);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 20px;
    overflow: hidden; }
  .productos__container .productos__card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(153deg, #ff0088 0%, #ff683c 100%);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out; }
  .productos__container .productos__card:hover:before {
    clip-path: circle(230px at 80% 20%); }
  .productos__container .productos__card .productos__img {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    height: 200px;
    align-items: center;
    transition: 0.5s; }
  .productos__container .productos__card:hover .productos__img {
    top: 0%;
    transform: translateY(25%) rotate(5deg) scale(110%); }
  .productos__container .productos__card .productos__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    width: 300px; }
  .productos__container .productos__card .productos__info {
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10; }
  .productos__container .productos__card:hover .productos__info {
    height: 190px;
    transform: translateY(-10%) scale(110%); }
  .productos__container .productos__card .productos__info h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff; }
  .productos__container .productos__card .productos__info .size,
  .productos__container .productos__card .productos__info .color,
  .productos__container .productos__card .productos__info .productos__precio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5%;
    opacity: 0;
    visibility: hidden; }
  .productos__container .productos__card:hover .productos__info .productos__precio {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s; }
  .productos__container .productos__card:hover .productos__info .productos__precio h3 {
    color: #fff;
    font-size: 1.5rem; }
  .productos__container .productos__card .productos__info .productos__precio span {
    font-family: 'Quicksand', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 1.8rem;
    display: inline-block;
    margin: 0 5px;
    transition: 00.2s;
    color: white;
    border-radius: 4px;
    cursor: pointer; }
  .productos__container .productos__card .productos__info a {
    opacity: 1;
    transform: translateY(0px);
    visibility: hidden; }
  .productos__container .productos__card:hover .productos__info a {
    opacity: 1;
    visibility: visible; }

.corporativos {
  background-image: url(../img/background_2.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  height: 85vh;
  display: flex;
  justify-content: space-evenly; }
  .corporativos__card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .corporativos__img {
    width: 80%;
    border-radius: 1.5rem; }
  .corporativos__h2 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    color: black; }

.nosotros {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .nosotros__container {
    background: #ff009d;
    background: linear-gradient(332deg, #ff009d 0%, #ff0043 100%);
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center; }
  .nosotros__container h1 {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 3rem;
    color: white; }
  .nosotros__container p {
    width: 80%;
    font-family: 'poppins', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-style: italic;
    font-size: 1.3rem;
    color: white; }
  .nosotros__img {
    background-image: url(/img/nosotros_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

.contacto {
  background-image: url(/img/background_nosotros.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Quicksand', sans-serif;
  height: auto;
  width: auto; }
  .contacto__caja {
    margin-left: 5rem;
    margin-right: 5rem; }
  .contacto__wrapper {
    -webkit-box-shadow: -0.5px 7px 17px 3px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: -0.5px 7px 17px 3px rgba(0, 0, 0, 0.73);
    box-shadow: -0.5px 7px 17px 3px rgba(0, 0, 0, 0.73);
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2rem;
    margin-top: 1rem; }
  .contacto__formulario {
    background-color: #181818;
    padding: 1rem; }
  .contacto__form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .contacto__formulario form p {
    padding: 1.2rem; }
  .contacto__formulario form div {
    justify-self: center;
    padding-top: 2rem; }
  .contacto__formulario form input,
  .contacto__formulario form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    background: none;
    border-bottom: 1px solid #ff0b51;
    outline: none;
    color: white;
    margin-bottom: 0.5rem; }
  .contacto__block {
    grid-column: 1 / 3; }
  .contacto__info {
    background: rgba(0, 0, 0, 0.432);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 2rem; }
  .contacto__info h2,
  .contacto__info ul,
  .contacto__info p {
    text-align: center;
    margin: 0 0 3rem 0;
    text-align: left; }
  .contacto__info h2 {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .contacto__lista li {
    padding-left: 3rem; }
  .contacto__info ul li:nth-child(1) {
    list-style-image: url(../img/iconos/icono_telefono.png); }
  .contacto__info ul li:nth-child(2) {
    list-style-image: url(../img/iconos/icono_whatsapp.png); }
  .contacto__info ul li:nth-child(3) {
    list-style-image: url(../img/iconos/icono_email.png); }
  .contacto__info ul li:nth-child(4) {
    list-style-image: url(../img/iconos/icono_ubicacion.png); }
  .contacto__info ul li {
    padding: 0.5rem;
    margin-left: 1.5rem; }

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    height: auto; }
  .header__list {
    flex-direction: column;
    align-items: center; }
  .header__item {
    padding: 1rem 0rem; }
  .hero {
    font-size: 1rem;
    background-size: cover;
    background-position: left; }
  .info {
    height: auto;
    background-size: auto; }
  .contacto__wrapper {
    grid-template-columns: 100%;
    grid-template-areas: "formulario" "info"; }
  .contacto__caja {
    margin-left: 0;
    margin-right: 0;
    padding: 0; }
  .contacto__form {
    display: flex;
    flex-direction: column; }
  .productos {
    padding: 1rem; }
  .productos__wrapper {
    flex-direction: column;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center; }
  .productos__container {
    margin: 1rem; }
  .nosotros {
    display: flex;
    flex-direction: column;
    height: auto; }
    .nosotros__container {
      padding-top: 2rem;
      padding-bottom: 1rem; }
    .nosotros__img {
      display: none; }
  .corporativos {
    flex-direction: column;
    align-items: center;
    height: auto; }
    .corporativos__img {
      width: 250%; }
    .corporativos__h2 {
      font-family: 'poppins', sans-serif;
      font-size: 1rem; }
  .footer {
    display: flex;
    flex-direction: column;
    height: auto; }
  .footer__linea {
    display: none; }
  .footer__nav {
    text-align: center; }
  .footer__item {
    font-size: 1.5rem; }
  .footer__contacto {
    display: none; } }

/*---------- MEDIAQUERIE DESDE 768 PX ----------*/
@media screen and (min-width: 768px) {
  .header {
    flex-direction: column;
    height: auto; }
  .header__list {
    flex-direction: row; }
  .info {
    height: auto;
    background-size: auto; }
  .contacto__caja {
    padding: 1rem;
    margin: 0 0.5rem; }
  .productos__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; } }

/*---------- MEDIAQUERIE DESDE 1024 PX ----------*/
@media screen and (min-width: 1023px) {
  .header {
    flex-direction: row;
    height: 15vh; }
  .header__list {
    flex-direction: row; }
  .contacto__caja {
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1.5rem; }
  .productos__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; } }
