.corporativos{
	background-image: url(../img/background_2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 6rem;
	height: 85vh;
	
	&__card{
		width: 30%;
		display: inline-block;
		margin: 1rem;
		position: relative;
		text-align: center;
	}
	
	
	&__img{
		width: 80%;
		border-radius: 1.5rem;
		margin-left: 2rem;
	}
	
	
	&__h2{
		position: absolute;
		font-family: 'poppins', sans-serif;
		font-size: 1.3rem;
		color: rgb(58, 58, 58);
		margin-top: 1rem;
		left: 9rem;
	}
}

