.footer { 
	background-color: $color_gris;
	height: auto;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 2fr 5px 1fr;
	grid-template-areas: 
	"footer__nav footer__logo footer__contacto"
	"footer__linea footer__linea footer__linea"
	"footer__redes footer__redes footer__redes";
	align-items: center;
    justify-items: center;


	&__nav{
		grid-area: footer__nav;
	
	 }
	
	
	 &__logo{
		height: 120px;
		grid-area: footer__logo;
		
	 }
	
	
	 &__list{
		list-style: none;
	 }
	
	
	 &__item{
		color: white;
		font-family: 'Bebas Neue', cursive;
		font-size: 1.2rem;
		font-style: italic;
		margin: 0.5rem;
	 }
	
	
	 &__anchor{
		color: white;
	 }
	
	
	 &__contacto{
		grid-area: footer__contacto;
	
	 }
	
	
	 &__contacto--item{
		text-decoration: none;
		color: white;
		font-family: 'Bebas Neue', cursive;
		font-size: 1.2rem;
		font-style: italic;
		margin: 0.5rem;
		padding-left: 1rem;
	 }
	
	
	
	
	
	
	 &__linea{
		border: 0.5px solid;
		color: white;
		width: 75%;
		grid-area: footer__linea;
	 }
	
	
	 &__redes{
		grid-area: footer__redes;
	
	 }
	
	
	 &__redes--item{
		text-decoration: none;
		display: inline-block;
		margin: 1.5rem;
	 }
	
	
	 &__contacto ul li:nth-child(1){
		list-style-image: url(../img/iconos/icono_telefono--footer.png);
	}
	
	&__contacto ul li:nth-child(2){
		list-style-image: url(../img/iconos/icono_whatsapp--footer.png);
	}
	
	&__contacto ul li:nth-child(3){
		list-style-image: url(../img/iconos/icono_email--footer.png);
	}
	
	&__contacto ul li:nth-child(4){
		list-style-image: url(../img/iconos/icono_ubicacion--footer.png);
	}
	
	
}


