.hero{
	background-image: url(../img/hero_background.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	color: black;
	font-size: 1.5rem;
	text-align: left;
	height: 87vh;
	display: flex;
	text-align: left;
	align-items: center;


	 &__container{
		padding-left: 3rem;
	 }
	 
	 
	 &__heading{
		font-size: 4.5rem;
		font-family: 'Bebas Neue', cursive;	
		font-style: italic;
		color: white; 
		text-shadow: black 0.1em 0.1em 0.2em;
	 }
	 
	 
	 &__slogan{
		font-size: 1.5rem;
		color: white;
		font-family: 'poppins', sans-serif;
		margin-top: 1rem;
	 }

}


