.info {
	background-image: url(../img/background_2.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh; 

	&__titulo{
		padding-top: 3rem;
		padding-bottom: 3rem;
		text-align: center;
		font-size: 3rem;
		font-family: 'Bebas Neue', cursive;	
		font-style: italic;
		color: white; 
		text-shadow: black 0.1em 0.1em 0.2em;

	}
	
}