
@media screen and (max-width: 767px) {
	.header {
		flex-direction: column;
		height: auto;

	}


	.header__list {
		flex-direction: column;
		align-items: center;

	}

	.header__item{
		padding: 1rem 0rem;

	}

	.hero{
		font-size: 1rem;
		background-size: cover;
		background-position: left;

	}


	.info{
		height: auto;
		background-size: auto;
	}

	.contacto__wrapper{

		grid-template-columns: 100%;
		grid-template-areas: "formulario"
		"info";
	}

	.contacto__caja{
		margin-left: 0;
		margin-right: 0;
		padding: 0;

	}

	.contacto__form{
		display: flex;
		flex-direction: column;
	}


	.productos{
		padding: 1rem;
	}

	.productos__wrapper{
		flex-direction: column;
		justify-self: center;
		justify-content: space-evenly;
		align-items: center;
		
	}

	.productos__container{
		margin: 1rem;
	}

	.nosotros{
		display: flex;
		flex-direction: column;
		height: auto;

		&__container{
			padding-top: 2rem;
			padding-bottom: 1rem;
		}

		&__img{
			display: none;
		}
	}

	.corporativos{
		flex-direction: column;
		align-items: center;
		height: auto;

		&__img{
			width: 250%;
		}
		
		
		&__h2{
			font-family: 'poppins', sans-serif;
			font-size: 1rem;
		}

	}

	





	.footer{
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.footer__linea{
		display: none;
	}

	.footer__nav{
		text-align: center;
	}

	.footer__item{
		font-size: 1.5rem;
	}

	.footer__contacto{
		display: none;
	}



}	

/*---------- MEDIAQUERIE DESDE 768 PX ----------*/

@media screen and (min-width: 768px){
	.header{
		flex-direction: column;
		height: auto;
	} 
	.header__list{
		flex-direction: row;
	}

	.info{
		height: auto;
		background-size: auto;
	}

	.contacto__caja{
		padding: 1rem;
		margin: 0 0.5rem;

	}

	.productos__wrapper{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

	}



}	



/*---------- MEDIAQUERIE DESDE 1024 PX ----------*/

@media screen and (min-width: 1023px){
	.header{
		flex-direction: row;
		height: 15vh;
	} 
	.header__list{
		flex-direction: row;
	}

	.contacto__caja{
		margin-left:5rem;
		margin-right: 5rem;
		padding: 1.5rem;
	
	}

	.productos__wrapper{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;


	}

}	