.productos{
	height: auto;
	background-image: url(/img/background_3.png);
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;


	&__wrapper{
		padding-top: 2rem;
		padding-bottom: 2rem;
		display: flex;
		
	
	}
	
	&__titulo{
		text-align: center;
		font-size: 1.8rem;
		font-family: 'Bebas Neue', cursive;	
		font-style: italic;
		color: white; 
		text-shadow: black 0.1em 0.1em 0.2em;
	}
	
	
	&__container {
		margin: 1rem;
		width: 320px;
		height: 420px;
		font-family: 'Quicksand', sans-serif;
		border-radius: 20px;
		box-shadow: 7.5px 13px 19px 4.5px rgba(0, 0, 0, 0.75);
	}
	
	&__img{
		height: 100px;
		filter: drop-shadow(3px 13px 10px #000000);
	}
	
	
	&__container &__card {
	
		position: relative;
		width: 320px;
		height: 420px;
		background: rgba(25, 25, 25, 0.052);
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		border: 1px solid rgba(0,0,0,0.025);
		border-radius: 20px;
		overflow: hidden;
	}
	
	&__container &__card:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $gradiente;
		clip-path: circle(150px at 80% 20%);
		transition: 0.5s ease-in-out;
	}
	
	&__container &__card:hover:before {
		clip-path: circle(230px at 80% 20%);
	}
	
	
	
	&__container &__card &__img {
		position: relative;
		top: 45%;
		transform: translateY(-50%);
		width: 100%;
		height: 200px;
		align-items: center;
		transition: 0.5s;
	}
	
	&__container &__card:hover &__img {
		top: 0%;
		transform: translateY(25%) rotate(5deg) scale(110%);
	}
	
	
	&__container &__card &__img img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-5deg);
		width: 300px;
	}
	
	
	&__container &__card &__info {
		position: absolute;
		bottom: -40px;
		width: 100%;
		height: 100px;
		text-align: center;
		transition: 1s;
		z-index: 10;
	}

	
	&__container &__card:hover &__info {
		height: 190px;
		transform: translateY(-10%) scale(110%);
	}


	
	&__container &__card &__info h2 {
		position: relative;
		font-weight: 600;
		letter-spacing: 1px;
		color: #fff;
	}
	
	&__container &__card &__info .size,
	&__container &__card &__info .color,
	&__container &__card &__info &__precio {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 20px;
		transition: 0.5%;
		opacity: 0;
		visibility: hidden;
	}

	
	
	
	&__container &__card:hover &__info &__precio {
		opacity: 1;
		visibility: visible;
		transition-delay: 0.2s;
	}
	
	
	&__container &__card:hover &__info &__precio h3{
		color: #fff;
		font-size: 1.5rem;
		
	}
	
	
	
	&__container &__card &__info &__precio span {
		font-family: 'Quicksand', sans-serif;
		text-shadow: black 0.1em 0.1em 0.2em;
		width: 60px;
		height: 25px;
		text-align: center;
		line-height: 26px;
		font-size: 1.8rem;
		display: inline-block;
		margin: 0 5px;
		transition: 00.2s;
		color: rgb(255, 255, 255);
		border-radius: 4px;
		cursor: pointer;
	}
	
	
	
	
	
	&__container &__card &__info a {
		opacity: 1;
		transform: translateY(0px);
		visibility: hidden;
	}
	
	&__container &__card:hover &__info a {
		opacity: 1;
		visibility: visible;
		
	}


}





