* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


:root{
      font-size: 16px;

}


a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;

}

a:hover {
	text-decoration: none;
	color: rgb(255, 11, 81);
}
